body {
    background-color: bisque;
    font-family: "sans-serif";
}
h1 {
    color: #ff4726;
}
dd,dt {
    margin-left: 0;
}

dt {
    margin-top: 0.5em;
}

dd {
    font-weight: bold;
}
nav ul {
    background-color: red;
    padding: 0.4em 0;
}

nav li {
    display: inline;
}

nav li a {
    color: white;
    font-weight: bold;
    padding-left: 0.5em;
    text-decoration: none;
    vertical-align: middle;
}

nav li a:hover {
    color: #F7FFCC;
}

ul.zebra {
    list-style: none;
    padding: 0;
}

ul.zebra li {
    padding-left: 0.5em;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

ul.zebra li:nth-child(odd) {
    background-color: #F2F2E4;
}

ul.zebra li:nth-child(even) {
    background-color: #E6E6C8;
}

ul.zebra li:nth-child(odd):hover, ul.zebra li:nth-child(even):hover {
    background-color: #ccff00;
}