<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Gastenboek')"></head>
<body>
<nav th:replace=fragments::menu"></nav>
<h1>Gastenboek</h1>
<a th:if="${!gastenBoekEntryForm}"
   th:href="@{/gastenboek/toevoegen/form}">Toevoegen</a>
<form th:if="${gastenBoekEntryForm}" method="post"
      th:object="${gastenBoekEntryForm}" th:action="@{/gastenboek/toevoegen}">
    <input th:field="*{naam}" autofocus required></label> <label>Bericht:<span th:errors="*{bericht}"></span> <input
        th:field="*{bericht}" required></label>
    <button>Toevoegen</button>
</form>
<ul th:if="not ${gastenboek.isEmpty()}">
    <li th:each="entry:${gastenboek}" th:object="${entry}"><strong th:text="|*{{datum}} *{naam}|"></strong> <span
            th:text="*{bericht}"></span></li>
</ul>
</body>
</html>